*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

body {
  width: 100%;
  margin: 0;
  font: 1.6rem/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}